@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800&family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: "Ubuntu",sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

@import "colors";
@import "header";
@import "home";
@import "cart";
@import "mediaquery";

body{
    background-color: $primary;
    color: $tertiary;
}